body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffaf7;
    color: #7d6450;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    justify-content: center;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__inner {
    max-width: 1000px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #7d6450;
}

.header-nav {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
}

.header-nav__item {
    text-decoration: none;
    background-color: #F5F5F5;
    color: #7d6450;
    border: 1px solid #7d6450;
    padding: 6px 20px;
    border-radius: 3px;
    font-size: 14px;
    align-items: center;
    line-height: 1.2;
}

.header-nav__link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.header-nav__link:hover {
    text-decoration: underline;
}